@import 'styles/base/variables.scss';
@import 'styles/mixins/index.scss';

.congratulations {
  background-color: #ffffff;
  width: 452px;
  padding: 24px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  & > button {
    align-self: end;
  }

  &__bg {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
  }

  &__title {
    margin-bottom: 5px;
    @include font-size(22, 32);
  }

  &__text {
    @include text-s;
    margin-bottom: 33px;
  }
}

.modalOpen {
  overflow: hidden;
}
