@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'base/index.scss';
@import 'mixins/index.scss';

body {
  color: $text;
  background-color: $bg;
  font-family: 'Nunito', sans-serif;
  @include text-s;
}

main {
  padding-top: 60px;
}

html {
  scroll-behavior: smooth;
}
