@import 'styles/base/variables.scss';
@import 'styles/mixins/font-size.scss';

.input {
  display: none;

  &:hover {
    border-color: $text;
  }

  &__container {
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 50px;
  }

  &__button {
    color: $text;
    padding: 13px 14px 13px 15px;
    border: 1px solid $text;
    border-radius: 4px 0 0 4px;
    @include text-s;

    &_error {
      border-color: $error;
      border-width: 2px;
    }
  }

  &__lable {
    flex-grow: 1;
    color: $input-text;
    padding: 13px 14px 13px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    border: solid $outline;
    border-width: 1px 1px 1px 0;
    border-radius: 0 4px 4px 0;
    transition: border-color 0.3s ease-in-out;
    @include text-s;

    &_filled {
      color: $text;
    }

    &_error {
      border-color: $error;
      border-width: 2px 2px 2px 0;
    }
  }

  &__error {
    color: $error;
    position: absolute;
    top: 59px;
    left: 16px;
    font-size: 12px;
    line-height: 17px;
  }
}
