@import 'styles/mixins/index.scss';

.footer {
  height: 59px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e0e0e0;

  &__img {
    position: absolute;
    right: 8%;
    bottom: 59px;

    @include to(1980px) {
      right: 0;
    }
  }
}
