$primary: #f4e041;
$primary-hover: #ffe302;
$secondary: #00bdd3;
$bg: #f8f8f8;
$hero-bg: #edecea;
$text: rgba(0, 0, 0, 0.87);
$white: #ffffff;
$outline: #d0cfcf;
$input-text: #7e7e7e;
$error: #cb3d40;
